# Ignore intermediate versions of the spreadsheet
# created for import and tests in Apple Numbers
*.versions.numbers
*.versions.xlsx

# ignore macOS metadata
.DS_Store

# ignore LibreOffice lock file
.~lock.*
