# Ignore intermediate versions of the spreadsheet
# used to produce the Apple Numbers template for iPad

# 1. Export from LibreOffice on macOS
#    LibreOffice: File > Save a Copy...
#                 File type: Excel 2007–365 (.xlsx)
enlarge-your-password.1.xlsx

# 2. Import in Apple Numbers on macOS,
#    Finder: Open With > Numbers.app
#    Numbers: select Unicode sheet
#    Numbers: change Unicode Compatibility value from 1 to 2
#    Numbers: select trim sheet
#    Numbers: change Trim Compatibility value from 1 to 2
#    Numbers: remove initial quotes from each formula in column C
#    Numbers:   select each cell (C42, C48, C54, C60, C66) then
#    Numbers:   Edit > Edit Cell as Formula
#    Numbers:   then delete initial ' character
#    Numbers: Save...
enlarge-your-password.2.numbers

# 3. Import in Apple Numbers on iPad
#    Numbers: Warnings: This spreadsheet may look different. (...)
#    Numbers: Done
#    Numbers: Export > Numbers Template
#    Numbers: Send Template
#    Numbers: Save to Files
enlarge-your-password.3.nmbtemplate
#    (renamed to 'Enlarge Your Password for iPad.nmbtemplate' after validation)

# ignore macOS metadata
.DS_Store

# ignore LibreOffice lock file
.~lock.*
